nnoremap / :action Find<CR>
nnoremap <Space>w/ :action VimWindowSplitVertical<CR>
nnoremap <Space>wd :action VimWindowClose<CR>
nnoremap <Space>pf :action GotoFile<CR>
nnoremap <Space>bd :action CloseEditor<CR>
nnoremap <Space>/ :action FindInPath<CR>
nnoremap <Space>fc :action NewFile<CR>
nnoremap <Space>fr :action RenameFile<CR>
nnoremap <Space>rr :action RenameElement<CR>
nnoremap <Space>ru :action FindUsages<CR>
nnoremap % :action EditorMatchBrace <CR>
nnoremap <Space>; :action CommentByLineComment <CR>
nnoremap <Space>fg :action uk.co.ben_gibson.git.link.UI.Action.MenuAction<CR>
nnoremap <Space>0 :action ActivateProjectToolWindow<CR>
nnoremap <Space>ri :action AutoIndentLines<CR>
nnoremap <Space><Tab> :action VimFilePrevious<CR>
nnoremap <Space>rc :action ReformatCode<CR>
nnoremap <Space>ma :action ToggleBookmarkWithMnemonic<CR>
nnoremap <Space>mm :action ShowBookmarks<CR>
nnoremap <Space>fa :action Annotate<CR>
vmap <c-k> 10k
nmap <c-k> 10k
vmap <c-j> 10j
nmap <c-j> 10j
vnoremap < <gv
vnoremap > >gv
set visualbell
set noerrorbells
